<h1>Listing organizations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Contact name</th>
    <th>Contact job</th>
    <th>Street name</th>
    <th>Street number</th>
    <th>City</th>
    <th>Postal code</th>
    <th>Department</th>
    <th>Phone</th>
    <th>Fax</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @organizations.each do |organization| %>
  <tr>
    <td><%= organization.name %></td>
    <td><%= organization.description %></td>
    <td><%= organization.contact_name %></td>
    <td><%= organization.contact_job %></td>
    <td><%= organization.street_name %></td>
    <td><%= organization.street_number %></td>
    <td><%= organization.city %></td>
    <td><%= organization.postal_code %></td>
    <td><%= organization.department %></td>
    <td><%= organization.phone %></td>
    <td><%= organization.fax %></td>
    <td><%= organization.email %></td>
    <td><%= link_to 'Show', organization %></td>
    <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
    <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Organization', new_organization_path %>
